*{
    margin: 0%;
    padding: 0%;
}

/*Navigation Bar*/
.Navbar{
    background-color: blueviolet;
    list-style-type: none;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    
}
.nav{
    display: inline;
    
}
a{
    text-decoration: none;
    color: white;
    font-size: larger;
    letter-spacing: 3px;
    background-color: aqua;
    justify-content: space-around;
}

/*Biodata*/

@media only screen and (max-width:650px) {
    .Navbar{
        background-color: brown;
    }
}