*{
    margin: 0%;
    padding: 0%;
}
body{
    background-image: linear-gradient(120deg, rgb(105, 224, 240), rgb(250, 250, 181));
}
/*Navigation Bar*/
.Navbar{
    background-color: rgb(93, 93, 104);
    list-style-type: none;
    padding-top: 1%;
    padding-bottom: 1%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
}
.Navbar ul li{
    display: inline-block;
    padding:10px 30px;
}
.Navbar ul li a:hover{
    color: greenyellow;
    transition: 1s;
}
a{
    text-decoration: none;
    color: white;
    font-size:larger;
    font-weight: bolder;
    letter-spacing: 3px;
}
#bar{
    display: none;
    cursor: pointer;
    margin-top: 1%;
}
#t{
    margin-top: 2%;
    color: aliceblue;
    display: none;
}
.drop{
    display: none;
    list-style-type: none;
    position: absolute;
    right: 2rem;
    top: 90px;
    width: 300px;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    height: 0px;
    transition: height .2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.drop.open{
    height: 350px;
}
.drop li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop a{
    color: #18191c;
    font-weight: bolder;
}

/*Biodata*/
.Biodata{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-top: 7%;
}
.imagediv{
    border: 5px solid rgb(242, 165, 109);
    border-radius: 50%;
    overflow: hidden;
}
.imagediv:hover{
    cursor: pointer;
    transform: scale(1.1);
}
#image{
    background-size: cover;
}
#myname {
    font-size: 4vw ;
}
#mytag{
    font-size: 2vw;
}

/*Education Details*/
.hero{
    padding-top: 15px;
    padding-left: 40px;
}
.edubox{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}
#edititle{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
}
.edudata{
    border: 2px solid rgb(16, 15, 15);
    margin: 0 1%;
    background-color: rgba(199, 199, 202, 0.2);
    padding: 25px;
    border-radius: 10px;
}
.edudata:hover{
    box-shadow: inset 0 0 30px #fff;
    transform: scale(1.1);
}

/*Skills*/
.skill{
    font-weight: bolder;
    font-size: large;
}
.kill{
    font-weight: bolder;
    font-size: x-large;
}
.list{
    padding-left: 30px;
}

/*Experience*/
#exptag1{
    color: blue;
}
#expbtn{
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

/*projects*/
.container{
    margin-top: 3%;
    margin-bottom: 3%;
}

/*contct*/

#contacticon{
    margin: 2% 0.1%;
    padding-left: 4%;
}
#look{
    color: black;
    font-weight: 600;
}
#look:hover{
    color: rgb(235, 150, 46);
}

/*Copyright*/
.CopyRight{
    background-color: rgb(58, 57, 57);
    color: aliceblue;
    font-weight: bold;
    text-align: center;
    padding: 15px 15px;
}

@media only screen and (max-width:1000px) {
    /*Navbar*/
    .Navbar li a{
        display: none;
    }
    .Navbar{
        height: 85px;
    }
    .Navbar #bar{
        display: block;
        float: right;
    }
    .drop{
        display: block;
    }
    a{
        color: black;
        font-weight: bolder;
    }
    a:hover{
        color: gold;
        transition: 0.5s;
    }
    #t{
        display: inline;
        margin-left: 10%;
        justify-content: center;
        align-content: center;
    }
    #bar{
        display: inline;
        margin-top: -5%;
        margin-right: 10%;
        color: aliceblue;
    }
    /*Biodata*/
    .Biodata{
        display: block;
        padding-bottom: 30px;
        padding-top: 25%;
    }
    #myname{
        text-align: center;
        font-size: 2em;
        padding-top: 15px;
    }
    #mytag{
        padding-left: 50px;
        font-size:x-large;
    }
    #call{
        padding-left: 30px;
    }
    .imagediv{
        /*
        height: 100px;
        width: 100px;
        justify-content: center;
        align-items: center;
        */
        display: none;
    }

    /*Education Detials*/
    .edubox{
        display: block;
    }
    .edudata{
        margin-top: 2%;
    }

    /*Experience*/
    #expbtn{
        margin-left: 18%;
    }

    /*projects*/
    .container{
        z-index: 0;
        overflow: hidden;
    }

    /*Contact*/
    #contacticon{
        margin-top: 15%;
        display: block;
    }
    #contactbox{
        padding-bottom: 10%;
        margin-bottom: 10%;
        margin-left: 50%;
    }
    .Contact{
        margin-bottom: 10%;
    }
}